# Site
name: "Bürgerrunde Heuweiler e.V."
title: "Bürgerrunde Heuweiler"
description: "Forum und Initiative in und für Heuweiler. Seit 2015."
logo: '/assets/images/br_logo.svg'
favicon: '/assets/images/br_logo.svg'
baseurl:
url: "https://buergerrunde.heuweiler.net"
google_analytics:
disqus: 
mailchimp-list:
include: ["_pages", "_redirects"]
permalink: /:title/
lang: de_DE

static:
  featured: "Aktuelle Termine"
  all: "Alle Themen"
  categories: Kategorien
  category: Kategorie
  tag: Etikett
  prev: zurück
  next: weiter
  share: Teilen
  search_for: "Suche nach..."
  read_more: "Mehr lesen..."
  older_articles: "Ältere Artikel im"
  menu:
    privacy: Datenschutz
    about: Über uns
    imprint: Impressum
    home: Aktuelles
    groups: Arbeitsgruppen
    events: Termine
    archive: Archiv/Suche
    newsletter: Newsletter
    contact: Kontakt
    carlos: Carlos
    op: Orangener Punkt

# Authors
authors:
  co:
    name: Christian
    display_name: Christian Ott
    email: mail@christian.ott.name
    description: "Gründungsmitglied der Bürgerrunde und seitdem erster Vorstand des Vereins. Liebt die Natur und die Berge des Schwarzwalds, am liebsten auf dem Rad. Geboren bei 321 ppm."
  kf:
    name: Katja F
    display_name: Katja Fimmen
    email: katja.fimmen@gmx.de
    description: "Gründungsmitglied der Bürgerrunde. Engagiert in der Kultur AG. Initiatorin der Sportwoche Heuweiler."
  fg:
    name: Friederike
    display_name: Friederike Gutmann
    email: friederike.gutmann@gmx.de
    description: "Engagiert in der AG Neubürger und im Gundelfinger Flüchtlingshelferkreis."
  kh:
    name: Katja H
    display_name: Katja Holstein-Gußmann
    email: katja_holstein-gussmann@web.de
    description: "Lebt mit Mann und Hund seit langem in Heuweiler. Im Vorstand der Bürgerrunde und Mitglied in der Kultur AG. Leiterin der Mediathek Denzlingen."
  dg:
    name: Daniela
    display_name: Daniela Giesenhagen
    email: daniela.giesenhagen@web.de
    description: "Erfreut sich täglich am eigenen Garten und am Flissertwald. Interessiert an Natur und Nachhaltigkeit, engagiert in den AGs Bürgernetz und Naturfreunde."
  tf:
    name: Thomas
    display_name: Thomas Frank
    email: tfrank@tfrank.net
    description: "Gründungsmitglied der Bürgerrunde und ehemaliger Vorstand."
  ad:
    name: Anne
    display_name: Anne Dittrich
    email: annedittrich@web.de
    description: "Wohnt seit 2019 mit ihrer Familie in Heuweiler. Seit 2020 im Vorstand der Bürgerrunde. Soziologin, erfahren in erneuerbaren Energien und Klimaschützerin im Kleinen."
  cs:
    name: Claudia
    display_name: Claudia Schultz
    email: cschultz@posteo.de
    description: "Initiatorin der Sportwoche Heuweiler und in verschiedenen AGs der Bürgerrunde aktiv. Engagiert sich auch in der Frauenliste Heuweiler."
  mh:
    name: Michael
    display_name: Michael Hermann
    email: sonnenpfeifer@web.de
    description: "Solarforscher mit Haus in Heuweiler. Weder Neu- noch Altbürger, sondern 'Gebrauchtbürger', der in der Kirche Orgel spielt und dem Klimaschutz wichtig ist."
  bw:
    name: Burkhard
    display_name: Burkhard Werner
    email: burk.werner@gmail.com
    description: "Professor im Ruhestand. Initiator der Mitfahraktion Orangener Punkt, engagiert in der AG Mobil und Klima. Im Vorstand der Bürgerrunde für die Kasse zuständig."
  jk:
    name: Jochen
    display_name: Jochen Kreher
    email: jochen_kreher@t-online.de
    description: "Engagiert in den AGs Mobil und Klima, Naturfreunde und im Amphibienschutz. Diplom-Forstwirt, passionierter Radfahrer und liebt die schöne und idyllische Landschaft rund um den Kandel."
  mb:
    name: Marie
    display_name: Marie Battran-Berger
    email: Marie.Berger@t-online.de
    description: "Engagiert in der AG Mobil und Klima und in vielen weiteren Initiativen und Gruppen."
  jm:
    name: Jonas
    display_name: Jonas Maier
    email: maierjonas92@gmail.com
    description: "Papa und nebenbei engagiertes Mitglied der AG Mobil und Klima."
  jl:
    name: Juliane
    display_name: Juliane Lang
    email: julianelang@posteo.de
    description: "Juliane ist Gemeinschaft wichtig. Sie bringt gerne Leute zusammen und organisiert auch gerne kleine Veranstaltungen oder Kurse. Engagiert in der AG Bürgernetz."

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - year
    - categories
    - tags
  layouts:
    year: year-archive
    category: category-archive
    tag: tag-archive
  permalinks:
    year: '/:year/'
    tag: '/tag/:name/'
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
#  input: GFM
  hard_wrap: true
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: ""
adsense-data-ad-slot: ""

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock, theme, br.code-workspace, tmp]

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: "post"
      author: "co"
