---
layout: default
title: Archiv
---

{% assign visible_posts = site.posts | where_exp: "p", "p.hidden != true" %}
{% include section-title.html title=page.title level="h1" count=visible_posts.size %}

{% include search-lunr.html %} 
{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %} 
{% for year in postsByYear %}
    {% include section-title.html title=year.name classes="col-md-12 mt-4" %}
    <ul>
    {% for post in year.items %}
        {% unless post.hidden %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.author %}{% assign author = site.authors[post.author] %}| {{ author.display_name }}{% endif %}
            | {{ post.date | german_date }}
        </li>
        {% endunless %}
    {% endfor %}
    </ul>
{% endfor %}
